
.lol
{
    position: absolute;
    right: 40px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
   color: white;

}
.lol:hover {
    background-color: #4CAF50;
    color: white;
}