#slide_lft
{
    position: fixed;
    top: 100px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #4CAF50;
    color:#fff;
    padding:2.5px;
}
#slide_in 
    {
    position: fixed;
    min-height:100%;
    top: 100px;
    left: -270px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow:0 0 5px #777;
    background-color: #333;
    color:#fff;
    width:250px;
    padding:10px;
    box-sizing:padding-box;
}

#slide_lft:hover
{
    left: 250px;
}
    #slide_lft:hover #slide_in
{
    left: 0;
}

#search 
{
    position: relative;
    bottom: 0;
    margin-left: 5px;
    padding: 0 10px;
    width: 90%;
    background: rgb(0, 0, 0);
    color:#fff;
}


.config
{
    height: 50px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: white;
    margin-bottom: 10px;
}
#car 
    {
    position: fixed;
    min-height:100%;
    top: 100px;
    left: -270px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow:0 0 5px #777;
    background-color: #333;
    color:#fff;
    width:250px;
    padding:10px;
    box-sizing:padding-box;
}
.config:hover
{
    background-color:#4CAF50;
    left: 250px;
}
#config:hover #car 
{
    position: fixed;
    min-height:100%;
    top: 100px;
    left: -270px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow:0 0 5px #777;
    background-color: #333;
    color:#fff;
    width:250px;
    padding:10px;
    box-sizing:padding-box;
}