.master
{
    margin-top:80px ;
    padding: 10px;
    margin-left: 200px;
    margin-right: 20px;
}
.create
{
    position: absolute;
    right: 40px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
   color: white;

}
.create:hover {
    background-color: #4CAF50;
    color: white;
}

.inform
{
    margin-top:80px ;
    margin-bottom:50px ;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-width: 2px; /* Толщина линии внизу */
    border-style: solid; /* Стиль линии внизу */
    border-color: white;
}