
.topnav {
    background-color: #333;
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
   
}


.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
